<!-- Header Carousel -->
        <div carousel interval="slideInterval" class="view-margin">

            <div slide ng-repeat="slide in slides" active="slide.active">

                <img ng-src="{{slide.image}}" style="margin:auto; height:300px;">
            </div>
        </div>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
         <!--   <div class="col-lg-12">  -->
                <h1 class="page-header text-right">
                    <span style="color: #585858">{{ search.name }}<span ng-hide="search.name">featured</span> recipes</span>
                    <span class="col-lg-3"><input ng-model="search.name" placeholder="Search Through Recipes" maxlength="35" class="form-control"></span>
                </h1>
         <!--   </div>  -->

            <div ng-repeat="recipe in recipes | filter:search" class="col-md-4">
                <div class="panel panel-height card-custom">
                    <div class="panel-heading card-heading">
                        <h4><i class="fa fa-fw fa-check"></i>{{ recipe.name }}</h4>
                    </div>
                    <a href="#/recipes/{{ recipe.id }}"><img src="{{ recipe.photo }}" id="pic-adj" /></a>
                    <div class="panel-body panel-b">
                        <p>{{ recipe.description }}</p>
                        <a href="#/recipes/{{ recipe.id }}" class="btn btn-default">Details</a>
                        <a href="#/edit-recipe/{{ recipe.id }}"><button class="btn btn-danger edit-button">Edit</button></a>
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->